<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"><img width="150" height="69" src="assets/images/gdt05_mini.jpg"></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a routerLinkActive="active" class="nav-link waves-light" routerLink="/collaborateur/reservations" mdbWavesEffect>Vos réservations</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link waves-light" routerLink="/collaborateur/annonces" mdbWavesEffect>Vos annonces</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link waves-light" routerLink="/collaborateur/statistiques" mdbWavesEffect>Statistiques </a>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!-- <a class="btn btn-danger" (click)="seDeconnecter()">Se déconnecter</a> -->
