<!-- <div class="jumbotron">
    <h2 class="h1 h1-responsive">Super Application</h2>
    <div *ngIf="!(collegueConnecte | async).estAnonyme()">
      <span>{{(collegueConnecte | async).email}}</span>
      <span>({{(collegueConnecte | async).roles}})</span>
      <a class="btn btn-danger" (click)="seDeconnecter()">Se déconnecter</a>
    </div>
  </div>
</body>
<footer>

</footer> -->


<!-- <app-auth></app-auth> -->
<router-outlet></router-outlet>
<div *ngIf="!(collegueConnecte | async).estAnonyme()" align="end">
  <span>Bonjour {{(collegueConnecte | async).prenom}}</span>
  <span>({{(collegueConnecte | async).nom}})</span>
  <a class="btn btn-danger" (click)="seDeconnecter()">Se déconnecter</a>
</div>
<img width="500" height="242" src="assets/images/gdt04a.jpg">

