/* You can add global styles to this file, and also import other style files */

body {
	background-color: white;
}

// barres primaires
.gdp-barre1 {
	font-family: "Arial";
	font-size: 36px;
	font-weight: bold;
	color: #ECECEC;
	background-color: #3F729B;
}

// barres secondaires
.gdp-barre2 {
  background-color:rgb(204, 204, 204)
}

// barres bleu sombre pour modales
.gdp-barre3 {
	font-family: "Arial";
	font-size: 18px;
  font-weight: bold;
  text-align: center;
	color: #ECECEC;
	background-color: #3F729B;
}

// réserver un transport
.gdp-button1 {
  background-color: #AFBD1F;
}

// bouton détail
.gdp-button2 {
  background-color: #E0E0E0;
}

// bouton flèches directionelles
.gdp-button3 {
  background-color: #E0E0E0;
  font-size: 18px;
}

// bouton de connexion bleu, plus utilisé remplacé par gdp-button1
.gdp-button4 {
  background-color: #3F729B;
  color: #ECECEC;
}

// bouton d'annulation
.gdp-button5 {
  background-color: #FF0000;
  color: #ECECEC;
}

// alignement à gauche (modal)
.agauche {
  text-align:left;
}


// highlight du menu (page active)
.highlightmenu {
  background-color: #4F82AB;
  font-weight: bold;
}

.menu-cell {
  padding: 8px 8px 8px 0;
}
